{
  "env": {
    "mode": "entry",
    "targets": "> 0.25%, not dead",
    "coreJs": "3.32"
  },
  "jsc": {
    "baseUrl": ".",
    "assumptions": {
      "setPublicClassFields": true
    },
    "keepClassNames": true,
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "decoratorsBeforeExport": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "minify": {
      "compress": false,
      "mangle": false
    }
  },
  "minify": true
}